{% extends 'office_shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header"><h1>Подтверждение Email</h1></div>
                <div class="card-body">
                    <p>Для подтверждения вашего Email проверьте свою почту.</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}